*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  #log-section {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    background-color: #efebeb;
  }
  
  .log-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #username, #password {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  #Log-button[type="submit"] {
    background-color: #ff9100;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
 #log-button[type="submit"]:hover {
    background-color: #b38c00;
  }
  
 