*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, rgb(1,1,1,), rgba(228, 216, 216, 0.477)) ;
    background-image: url(https://img.freepik.com/premium-photo/food-background-spices-vegetables-cutlery-dark-table-free-space-your-text_187166-22835.jpg?w=2000) ;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
  }
  
  #reg-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .reg-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #username, #password {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  #reg-button {
    background-color: #ff9100;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #reg-button:hover {
    background-color: #b38000;
  }
  
  #go-login{
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #go-login:hover {
    background-color: #b38000;
  }